<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>answer</title>
</head>

<body>
    <div id="answer">
        <p>{{vacancy.name}}</p>
        <p>Зарплата: {{vacancy.salary}}</p>
        <p>Город: {{vacancy.area_name}}</p>
        <p>Требуемые навыки:</p>
        <p></p>
        {% for skill in vacancy.skills %}
        <p>{{skill}}</p>
        {% endfor %}
        <p></p>
        <p>Отклики:</p>
        <p></p>
        {% for response in responses %}
        <p>{{response.user.get_name}}: {{response.message}}</p>
        {% endfor %}
    </div>
</body>

</html>
